In [6]:
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

df=pd.read_csv("..\Raw Data\Trump tweets 3 day groups jan-dec 2017.csv")
df.head()

,text,created_at,Unique Identifier
0,It all begins today! I will see you at 11:00 A...,1/20/2017,1
1,Today we are not merely transferring power fro...,1/20/2017,1
2,power from Washington D.C. and giving it back ...,1/20/2017,1
3,What truly matters is not which party controls...,1/20/2017,1
4,January 20th 2017 will be remembered as the da...,1/20/2017,1

In [16]:
firstTweet = True
compound_list =[]
sentiments =[]
count =0

for index, row in df.iterrows():
    #Run Vader Analysis on each tweet
    sentence =row["text"]
    #Tweet datetime object
    new_id = row["Unique Identifier"]
    if(firstTweet == False):
        if(old_id != new_id):
            compound= np.mean(compound_list)
            compound_list =[]
            new_date = row["created_at"]
            #Store the Sentiments
            sentiments.append({"Compound":compound,
                "Startdate" : old_start_date,
                "Enddate": old_end_date,
                "Count" : count})
            #Resetting count
            count =0
        elif(count==1):
            old_start_date =row["created_at"]
    else:
        firstTweet = False
    compound_list.append(analyzer.polarity_scores(sentence)["compound"])
    count +=1
    old_id = new_id
    old_end_date = row["created_at"]

In [17]:
#Put all data into dataframe and export to csv file
sentiments_df = pd.DataFrame.from_dict(sentiments)
sentiments_df.head()

   Compound  Count    Enddate  Startdate
0  0.185511     18  1/22/2017  1/20/2017
1  0.183223     13  1/25/2017  1/24/2017
2  0.106478     23  1/28/2017  1/26/2017
3 -0.232106     17  1/31/2017  1/29/2017
4  0.069474     19   2/3/2017   2/1/2017