In [2]:
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

df=pd.read_csv("..\Raw Data\TrumpTweets.csv")

firstTweet = True
compound_list =[]
sentiments =[]
count =0

for index, row in df.iterrows():
    #Run Vader Analysis on each tweet
    sentence =row["text"]
    #Tweet datetime object
    new_date = row["created_at"]
    if(firstTweet == False):
        if(old_date != new_date):
            compound= np.mean(compound_list)
            compound_list =[]
            #Store the Sentiments
            sentiments.append({"Compound":compound,
                "Date" : old_date,
                "Count" : count})
            #Resetting count
            count =0
    else:
        firstTweet = False
    compound_list.append(analyzer.polarity_scores(sentence)["compound"])
    count +=1
    old_date = new_date
	
#Put all data into dataframe and export to csv file
sentiments_df = pd.DataFrame.from_dict(sentiments)
sentiments_df.head()

   Compound  Count                 Date
0    0.5818      1  03-22-2018 03:04:47
1    0.5984      1  03-22-2018 03:00:36
2    0.9485      1  03-21-2018 19:05:40
3    0.3699      1  03-21-2018 18:56:14
4    0.2263      1  03-21-2018 11:29:03

In [3]:
for index, row in sentiments_df.iterrows():
    d = datetime.strptime(row["Date"], '%m-%d-%Y %H:%M:%S')
    sentiments_df.loc[index, 'Date'] = d.strftime('%Y-%m-%d')
sentiments_df.head()

   Compound  Count        Date
0    0.5818      1  2018-03-22
1    0.5984      1  2018-03-22
2    0.9485      1  2018-03-21
3    0.3699      1  2018-03-21
4    0.2263      1  2018-03-21

In [6]:
sentiments_df.to_csv("sentiments_compound_raw.csv")

In [5]:
#Importing S&P Data
SP_data = "..\Raw Data\S&P 500 Raw data_1-20-2017 ~ 3-21-2018.csv"
SP_df = pd.read_csv(SP_data, encoding = "ISO-8859-1")
SP_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-20,2269.959961,2276.959961,2265.010010,2271.310059,2271.310059,3524970000
1,2017-01-23,2267.780029,2271.780029,2257.020020,2265.199951,2265.199951,3152710000
2,2017-01-24,2267.879883,2284.629883,2266.679932,2280.070068,2280.070068,3810960000
3,2017-01-25,2288.879883,2299.550049,2288.879883,2298.370117,2298.370117,3846020000
4,2017-01-26,2298.629883,2300.989990,2294.080078,2296.679932,2296.679932,3610360000